<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helloworld</title>
</head>
<body>
    <header>
        <nav>
            <h1>Titulo</h1>
            <h3>Hello World</h3>
            <ul>
                <li><a href="https://github.com/emiyablake/helloworld/blob/main/README.md">About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Deploying from github!</h1>
        <p>O fluxo continuo está implementado, depois de muito trabalho...</p>
    </main>
</body>
</html>